DATABASE_URL=postgres://postgres:postgres@localhost:5436/sirius-dz-app

TELEGRAM_BOT_TOKEN=123
TG_TEST_CHANEL_ID=-100000000000
TG_DZ_CHANEL_ID=@test

MAX_BOT_TOKEN=your_max_bot_token
MAX_TEST_CHANNEL_ID=-72500000000000
MAX_CHANNEL_ID=-72500000000001

SEND_NOW_CODE=Поехали

CORS_ORIGIN=http://localhost:5173

DEBUG_SEND_EVERY_MINUTE=false
DEBUG_SEND_TEST_CHANEL=true

SIRIUS_USERNAME=your_username
SIRIUS_PASSWORD=your_password
SIRIUS_USERNAME_2=your_username_2
SIRIUS_PASSWORD_2=your_password_2

HTTP_PROXY_HOST=
HTTP_PROXY_PORT=
HTTP_PROXY_USER=
HTTP_PROXY_PASS=
